/* Global variables */
:root {
  --color-primary: #14120b;
  --color-secondary: #1b1913;
  --text-color: #edecec;
  --muted-text-color: color-mix(in oklab, var(--text-color) 60%, transparent);
  --btn-secondary-border: color-mix(
    in oklab,
    var(--text-color) 20%,
    transparent
  );
  --link-color: #f54e00;
  --link-hover-color: color-mix(in oklab, var(--link-color) 75%, transparent);
  --card-border-color: color-mix(in oklab, var(--text-color) 2.5%, transparent);
  --card-hover-color: #1d1b15;
  --highlight-section-card-color: #201e18;
  --highlight-section-card-hover-color: #26241e;
  --x-padding: 19rem;
}

@font-face {
  font-family: CursorGothic;
  src: url("./fonts/CursorGothic-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CursorGothic;
  src: url("./fonts/CursorGothic-Italic.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: CursorGothic;
  src: url("./fonts/CursorGothic-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: CursorGothic;
  src: url("./fonts/CursorGothic-BoldItalic.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "CursorGothic", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--color-primary);
  color: var(--text-color);
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

ul {
  list-style-type: none;
  margin: 0;
}

button {
  border-radius: 4rem;
  padding: 5px 12px;
  font-size: 14px;
}

button:hover {
  cursor: pointer;
}

header,
footer,
main > * {
  padding: 0rem var(--x-padding);
}

/* Custom Classes */

.btn-primary {
  color: var(--color-primary);
  background-color: var(--text-color);
  border: 1px solid var(--text-color);
}

.btn-primary:hover {
  opacity: 90%;
}

.btn-secondary {
  background-color: var(--color-primary);
  color: var(--text-color);
  border: 1px solid var(--btn-secondary-border);
}

.btn-secondary:hover {
  background-color: var(--color-secondary);
}

.cta-btn {
  color: var(--color-primary);
  background-color: var(--text-color);
  border: 1px solid var(--text-color);
  padding: 10px 20px;
  font-size: 16px;
}

.cta-btn:hover {
  opacity: 90%;
}

.card {
  background-color: var(--color-secondary);
  border-radius: 4px;
  border: 1px solid var(--card-border-color);
}

.card:hover {
  background-color: var(--card-hover-color);
  cursor: pointer;
}

.card-no-hover:hover {
  background-color: var(--color-secondary);
  cursor: default;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: var(--link-color);
  font-size: 16px;
}

.link:hover {
  color: var(--link-hover-color);
}

.avatar-card {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.avatar-card p {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.avatar-card > p > span {
  color: var(--muted-text-color);
}

.avatar-card img {
  width: 2.5rem;
  border-radius: 4px;
}

.badge {
  font-size: 14px;
  border-radius: 2rem;
  border: 1px solid var(--btn-secondary-border);
  padding: 2px 9px;
}

/* Nav Section */

header {
  margin-bottom: 7rem;
  position: sticky;
  top: 0px;
  background-color: var(--color-primary);
}

nav {
  display: flex;
  height: 3.25rem;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  margin-left: 4rem;
  display: flex;
  gap: 1.75rem;
}

nav li:hover {
  opacity: 80%;
}

nav figure {
  width: 95.75px;
  cursor: pointer;
}

header .btn-group {
  display: flex;
  gap: 0.5rem;
}

/* CTA Section */

.cta-section {
  margin-bottom: 4rem;
}

.cta-section h1 {
  font-size: 26px;
  font-weight: 400;
  max-width: 36rem;
  margin-bottom: 1.25rem;
  line-height: 1.25;
}

.cta-section .cta-btn {
  margin-bottom: 4rem;
}

/* Trusted By Section */

.trusted-by-section {
  margin-bottom: 6rem;
}

.trusted-by-section .small {
  text-align: center;
  font-size: 14px;
  margin-bottom: 1rem;
}

.trusted-by-section .card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.25rem;
  width: 152.5px;
}

.trusted-by-section .card img {
  height: 2.5rem;
  width: auto;
}

/* Feature Section */

.feature-section .left-image > .image-container, .feature-section .left-image > .text-container{
  --text-start: 18;
  --text-end: span 8;
  --img-start: 1;
  --img-end: span 16;
}

.feature-section .right-image {
  --text-start: 1;
  --text-end: span 8;
  --img-start: 9;
  --img-end: span 16;
}

.feature-section {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin-bottom: 8rem;
}

.feature-section .card {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  height: 44rem;
}

.feature-section .card .text-container {
  display: flex;
  grid-column: var(--text-start) / var(--text-end);
  grid-row: 1 / span 2;
  flex-direction: column;
  justify-content: center;
  max-width: 25rem;
}

.feature-section .card .image-container {
  grid-column: var(--img-start) / var(--img-end);
  grid-row: 1 / span 4;
}

.feature-section .text-container p {
  color: var(--muted-text-color);
  font-size: 22px;
  margin-bottom: 1rem;
}

.feature-section .text-container h3 {
  font-size: 22px;
  font-weight: 500;
}

/* Testimonial Section */
.testimonial-section {
  margin-bottom: 11rem;
}

.testimonial-section .card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 17.375rem);
  gap: 0.55rem;
}

.testimonial-section h2 {
  font-size: 36px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 4rem;
}

.testimonial-section .card {
  height: 100%;
  width: 100%;
  padding: 1rem;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5;
}

.testimonial-section .card p {
  width: 24rem;
}

/* Product Overview Section */
.product-overview-section {
  margin-bottom: 10rem;
}

.product-overview-section h2 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.product-overview-section .card-container {
  display: flex;
  justify-content: space-between;
  gap: 0.55rem;
}

.product-overview-section .card {
  padding: 1rem;
  width: 26.85rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-overview-section .card h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.product-overview-section .card p {
  font-size: 16px;
  color: var(--muted-text-color);
  margin-bottom: 1rem;
}

.product-overview-section .card .link {
  margin-bottom: 1rem;
}

/* Changelog Section */
.changelog-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 10rem;
}

.changelog-section h2 {
  font-weight: 500;
  font-size: 26px;
}

.changelog-section .card-container {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.changelog-section .card {
  padding: 1rem;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
}

.changelog-section .card:hover {
  cursor: pointer;
  background-color: var(--card-hover-color);
}

.changelog-section .card p {
  height: 3rem;
}

.changelog-section .card .text-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 1.5rem;
}

.changelog-section .card .text-container time {
  color: var(--muted-text-color);
}

/* Join Us Section */

.join-us-section img {
  width: 100%;
}

.join-us-section h2 {
  font-size: 36px;
  font-weight: 500;
  max-width: 36rem;
  line-height: 43.2px;
  margin-bottom: 1.5rem;
}

.join-us-section .btn-primary {
  font-size: 16px;
  padding: 10px 24px;
  margin-bottom: 3.5rem;
}

/* Highlight section */
.highlight-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  gap: 0.5rem;
  margin-top: 8rem;
  background-color: var(--color-secondary);
  padding: 6rem 18rem;
}

.highlight-section h2 {
  font-size: 16px;
  font-weight: 500;
  grid-column: 1 / span 2;
}

.highlight-section .card {
  width: 40.625rem;
  padding: 1rem;
  background-color: var(--highlight-section-card-color);
}

.highlight-section .card:hover {
  background-color: var(--highlight-section-card-hover-color);
  cursor: pointer;
}

.highlight-section .card h3 {
  font-size: 16px;
  font-weight: 500;
}

.highlight-section .card p {
  font-size: 16px;
  color: var(--muted-text-color);
  margin-bottom: 1rem;
}

.highlight-section .card span {
  font-size: 16px;
  color: var(--muted-text-color);
}

.highlight-section .card-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.highlight-section .right {
  margin-bottom: 1rem;
  grid-column: 4 / span 6;
}

/* Try Now Section */
.try-now-section {
  text-align: center;
  padding: 8rem 0px;
}

.try-now-section h2 {
  font-size: 72px;
  font-weight: 500;
  margin-bottom: 1rem;
}

/* Footer */
footer {
  background-color: var(--color-secondary);
  padding-bottom: 2rem;
}

footer .link-group-container {
  display: flex;
  justify-content: space-between;
  width: 86%;
  padding: 4rem 0px;
  margin-bottom: 4rem;
}

footer .link-group {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
}

footer .link-group-container .link-group h3 {
  color: var(--muted-text-color);
  font-size: 14px;
  font-weight: 500;
}

footer .link-group-container .link-group span {
  opacity: 0;
}

footer .link-group-container .link-group a:hover span {
  opacity: 1;
}

footer div.text-container {
  display: flex;
  gap: 1rem;
  color: var(--muted-text-color);
}

.footer-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-group .right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer-group .right .btn-group {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
}

.footer-group .right .btn-group button {
  background-color: transparent;
  border: none;
  color: var(--muted-text-color);
}

.footer-group .right > button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-group .right .btn-group .btn-active {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 1rem;
}

.footer-group .right .btn-group .btn-active button {
  color: var(--text-color);
}
